In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import API key
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-16 17:39:29,-23.1203,-134.9692,77.34,70,100,12.06
1,1,Cabo San Lucas,MX,2021-04-16 17:39:09,22.8909,-109.9124,86.00,34,20,6.91
2,2,Khasan,RU,2021-04-16 17:39:29,42.4308,130.6434,43.39,73,99,6.04
3,3,Chokurdakh,RU,2021-04-16 17:39:29,70.6333,147.9167,-10.91,100,99,8.12
4,4,Busselton,AU,2021-04-16 17:39:30,-33.6500,115.3333,57.99,87,25,1.99

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [14]:
# Temperature Heatmap
# Get latitude and longitude pair
locations = city_data_df[['Lat', 'Lng']]

# Get max temp
max_temp = city_data_df['Max Temp']

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Percent Humidity Heatmap
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Cloudiness Heatmap
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Wind Speed Heatmap
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float((input("What is the minimum temperature you would like for your trip? ")))
max_temp = float((input("What is the maximum temperature you would like for your trip? ")))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-16 17:39:29,-23.1203,-134.9692,77.34,70,100,12.06
1,1,Cabo San Lucas,MX,2021-04-16 17:39:09,22.8909,-109.9124,86.00,34,20,6.91
12,12,Praya,CV,2021-04-16 17:38:50,14.9215,-23.5087,77.00,57,40,20.71
14,14,Barinitas,VE,2021-04-16 17:39:33,8.7622,-70.4111,82.54,61,77,2.73
18,18,Matara,LK,2021-04-16 17:39:34,5.9485,80.5353,76.60,89,94,4.03
23,23,Atuona,PF,2021-04-16 17:39:36,-9.8000,-139.0333,80.53,73,90,17.90
28,28,Saint-Philippe,RE,2021-04-16 17:35:42,-21.3585,55.7679,78.80,78,0,5.75
33,33,Diamantino,BR,2021-04-16 17:39:38,-14.4086,-56.4461,89.89,47,54,2.55
34,34,Bathsheba,BB,2021-04-16 17:35:23,13.2167,-59.5167,86.00,54,40,16.11
35,35,Kavaratti,IN,2021-04-16 17:39:33,10.5669,72.6420,84.63,72,37,7.18

In [27]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Rikitea      PF     77.34 -23.1203 -134.9692
1   Cabo San Lucas      MX     86.00  22.8909 -109.9124
12           Praya      CV     77.00  14.9215  -23.5087
14       Barinitas      VE     82.54   8.7622  -70.4111
18          Matara      LK     76.60   5.9485   80.5353
23          Atuona      PF     80.53  -9.8000 -139.0333
28  Saint-Philippe      RE     78.80 -21.3585   55.7679
33      Diamantino      BR     89.89 -14.4086  -56.4461
34       Bathsheba      BB     86.00  13.2167  -59.5167
35       Kavaratti      IN     84.63  10.5669   72.6420

In [30]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,77.34,-23.1203,-134.9692,Pension Maro'i
1,Cabo San Lucas,MX,86.00,22.8909,-109.9124,Hotel Tesoro Los Cabos
12,Praya,CV,77.00,14.9215,-23.5087,LT Aparthotel
14,Barinitas,VE,82.54,8.7622,-70.4111,Hotel- Posada Valle Esmeralda C.A
18,Matara,LK,76.60,5.9485,80.5353,Amaloh Boutique Resort
23,Atuona,PF,80.53,-9.8000,-139.0333,Villa Enata
28,Saint-Philippe,RE,78.80,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
33,Diamantino,BR,89.89,-14.4086,-56.4461,Hotel Delta
34,Bathsheba,BB,86.00,13.2167,-59.5167,Atlantis Hotel
35,Kavaratti,IN,84.63,10.5669,72.6420,Hotels in Lakshadweep Islands

In [34]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</d>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]